.card {
    flex: 1 1 calc(33.33% - 20px); /* Ocupa un tercio del ancho del contenedor */
    max-width: 350px; /* Ajuste opcional para limitar el tamaño máximo de las tarjetas */
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 20px;
}

.card-image-container {
    width: 100%;
    height: 0;
    padding-top: 75%; /* Mantén la proporción 4:3 */
    position: relative;
    overflow: hidden;
}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-color: #f0f0f0;
}

.card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    background-color: #e0e0e0; /* Fondo gris más oscuro para los iconos */
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    color: #333; /* Color de texto más oscuro para mejor contraste */
}

.icon-item svg {
    color: #555; /* Color de icono más oscuro */
    font-size: 1.2rem;
    margin-bottom: 4px;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333; /* Color de título más oscuro */
}

.card-availability {
    color: #4caf50;
    font-weight: bold;
}

.card-author, .card-price {
    margin-bottom: 6px;
    color: #555; /* Color de texto más oscuro */
}

.card-button {
    margin-top: auto;
    background-color: #2196f3;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-button:hover {
    background-color: #1976d2;
}

/* Media queries para responsividad */
@media (max-width: 1100px) {
    .card {
        flex: 1 1 calc(50% - 20px); /* 2 tarjetas por fila en pantallas medianas */
    }
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 100%; /* 1 tarjeta por fila en pantallas pequeñas */
    }
}
@media (prefers-color-scheme: dark) {
    .icon-item svg {
        color: #f0f0f0; /* Color claro para modo oscuro */
    }
}

@media (prefers-color-scheme: light) {
    .icon-item svg {
        color: #303030; /* Color oscuro para modo claro */
    }
}