.cart-container {
	padding: 20px;
	background-color: #f8f9fa;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-item {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 15px;
	padding: 10px;
	background-color: rgb(175, 26, 26);
	border-radius: 4px;
}

.cart-item-image {
	width: 60px;
	height: 60px;
	object-fit: cover;
	margin-right: 15px;
	border-radius: 4px;
}

.cart-item-info {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 20px;
}

.quantity-control {
	display: flex;
	align-items: center;
	margin-top: 5px;
}

.quantity-control button {
	background-color: #061d35;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
}

.quantity-control span {
	margin: 0 10px;
}

.remove-item {
	background: none;
	border: none;
	color: #dc3545;
	cursor: pointer;
}

.cart-total {
	margin-top: 20px;
	text-align: right;
	background-color: #dc3545;
}
.buy-button {
	background-color: aquamarine;
}
