/* Definición de variables CSS para los temas */
:root[data-theme="light"] {
	--background-color: white;
	--text-color: #374151;
	--button-background: #f3f4f6;
	--input-background: #fff; /* Fondo de los inputs en modo claro */
	--input-border-color: #d1d5db; /* Borde en inputs modo claro */
	--transition-speed: 0.3s;
}

:root[data-theme="dark"] {
	--background-color: #1a1a1a;
	--text-color: white;
	--button-background: #333;
	--input-background: #333; /* Fondo de los inputs en modo oscuro */
	--input-border-color: #555; /* Borde en inputs modo oscuro */
	--transition-speed: 0.3s;
}

/* Estilos generales del cuerpo basado en el tema */
body {
	background-color: var(--background-color);
	color: var(--text-color);
	transition: background-color var(--transition-speed), color
		var(--transition-speed);
}

/* Estilos del navbar */
.navbar {
	width: 100%;
	background-color: var(--button-background);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 10;
	transition: background-color var(--transition-speed), color
		var(--transition-speed), border-color var(--transition-speed);
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	max-width: 1200px;
	margin: 0 auto;
}

.navbar-logo-section {
	width: 100%;
	height: auto;
	text-align: center;
}

.navbar-logo {
	height: 3rem;
	width: auto;
}

.navbar-buttons {
	display: flex;
	gap: 0.75rem;
	transition: background-color var(--transition-speed), color
		var(--transition-speed), border-color var(--transition-speed);
	@apply text-current bg-transparent hover:bg-gray-200 dark:hover:bg-gray-700 transition-colors duration-200;
}

.navbar-buttons > * {
	padding: 0.5rem 0.75rem;
	font-size: 0.875rem;
	font-weight: 500;
	color: var(--text-color);
	background-color: var(--button-background);
	text-transform: uppercase;
	transition: color 0.2s, background-color 0.2s;
	white-space: nowrap;
}

.navbar-buttons > *:hover {
	color: #dc2626;
	background-color: var(--button-background);
}

.navbar-search {
	display: flex;
	align-items: center;
}

.search-button {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1.25rem;
	color: var(--text-color);
}

.search-bar {
	display: flex;
	align-items: center;
}

.search-input {
	padding: 0.5rem;
	border: 1px solid var(--input-border-color);
	border-radius: 0.25rem;
	margin-right: 0.5rem;
	color: var(--text-color);
	background-color: var(--input-background);
}

.search-close {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1.25rem;
	color: var(--text-color);
}

/* Botón de cambio de tema */
.theme-toggle-button {
	padding: 0.5rem 1rem;
	border: none;
	background-color: var(--button-background);
	color: var(--text-color);
	cursor: pointer;
	font-weight: 500;
	border-radius: 0.25rem;
	transition: background-color 0.3s ease;
}

.theme-toggle-button:hover {
	background-color: #dc2626;
	color: #fff;
}

/* Estilos responsivos */
@media (max-width: 768px) {
	.navbar-buttons {
		display: none;
	}
}
