/* Estilo general para el contenedor */
.single-container {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	gap: 20px;
}

.single-container .info {
	flex: 1;
}

.single-container .image {
	flex: 0.5;
	text-align: center;
}

/* Ajuste del ancho máximo para la barra de iconos */
.card-icons {
	display: flex;
	justify-content: space-around;
	padding: 5px 10px;
	max-width: 600px;
	margin: 0 auto;
}

.icon-item {
	display: flex;
	gap: 20px;
	flex-direction: row;
	margin-top: 10px;
}

.icon-item span {
	font-size: 16px;
	white-space: nowrap;
}

h1,
h3 {
	font-weight: bold;
	margin-bottom: 10px;
}

.description {
	font-size: 14px;
	margin-top: 30px;
}

.price {
	font-size: 24px;
	font-weight: bold;
	color: #555;
}

/* Botón agregar al carrito */
.button-agregar-carrito {
	background-color: #26dcdc; /* Rojo destacable */
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	transition: background-color 0.3s ease;
}

.button-agregar-carrito:hover {
	background-color: #b91c1c; /* Oscurece el color en hover */
}

.image img {
	max-width: 100%;
	height: auto;
}

.back-link {
	display: block;
	text-align: left;
	margin-bottom: 20px;
	color: #a0a0ff; /* Color más visible */
	font-size: 16px; /* Tamaño de fuente más legible */
}

.back-link:hover {
	color: #ffffff; /* Cambia a blanco al pasar el ratón */
}

.contenedor-detalle {
	display: flex;
	flex-direction: row;
	gap: 30px;
	justify-content: center;
}

.contenedor-descripcion {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.detalle {
	width: 40%;
	text-align: left;
}

.precio {
	color: aqua;
	font-weight: 900;
}

/* Estilo del input de cantidad */
.detalle input {
	background-color: #f3f4f6;
	color: #111827;
	width: 50px;
	border: 1px solid #d1d5db;
	height: 40px;
	margin-right: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	opacity: 1; /* Asegura que los botones sean siempre visibles */
	display: inline-block;
}

input[type="number"] {
	-moz-appearance: textfield;
	padding: 0.25rem;
	background-color: #ffffff;
	color: #111827;
}

.components-list {
	display: flex;
	justify-content: center;
	text-align: left;
	flex-direction: row;
	gap: 30px;
	width: 80%;
}

.components-list h5 {
	color: aliceblue;
	font-weight: normal;
}

.icon-item .icon-text {
	color: rgb(73, 94, 112);
	font-weight: normal;
}
